:root {
    --primary-color: #007bff;
    --secondary-color: #0056b3;
    --background-color: #f1f1f1;
    --text-color: #333;
}



html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}


.login_form_container {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.formBody {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 100%;
    box-sizing: border-box;
}

label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
}

input[type="text"],
input[type="email"],
input[type="phone"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 16px;
}


.button {
    display: inline-block;
    padding: 10px 20px;
    margin-bottom: 2px;
    width: 100%;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: var(--primary-color);
    border: none;
    border-radius: 4px;
}

.button:hover {background-color: var(--secondary-color)}

.button:active {
    background-color: var(--secondary-color);
    transform: translateY(4px);
}


/* Container for the entire chat page */
.chatpage_container {
    display: flex;
    flex-direction: column;
    height: 100%;
}

/* Chatpage should take full height and use flexbox */
.chatpage {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 1;
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
}

/* Chatbox styles */
.chatbox {
    padding: 20px;
    border-top: 1px solid #ccc;
    flex-grow: 1;
    overflow-y: auto;
}

/* Align heading perfectly */
.chatbox h2 {
    margin-top: 0;
    margin-bottom: 20px;
    text-align: center;
}

/* Form styles */
.messageForm {
    display: flex;
    padding: 10px;
    border-top: 1px solid #ddc;
    background-color: #fff;
    align-items: center;
    width: 100%;
}

/* Input inside the form */
.messageForm input[type="text"] {
    flex-grow: 1;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 4px;
}


/* Button inside the form */
.messageForm button {
    padding: 10px 20px;
    margin-left: 10px;
    margin-bottom: 3%;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.messageForm button:hover {
    background-color: #0056b3;
}

.messageul{
    list-style: none;
    padding: 0%;
    margin: 0%;
}

#mymessage{
    padding: 2%;
    border-radius: 5px;
    background-color: white;
}

#othermessage {
    padding: 2%;
    border-radius: 5px;
    background-color: #f1f1f1;
}